@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

ul {
	list-style: none;
}

.font-serif {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-style: italic;
	font-weight: bolder;
	text-decoration: underline;
}
button {
	border: 1px solid black;
	padding: 3px;
}
input {
	border: 1px solid black;
}
